footer
  ul.footer-element
    li: a(href='/'): img(src='/img/logo-white.png' class='logo')
    li &copy; copy rights reserved, for more information feel free to contact me at 
      a(href='https://www.linkedin.com/in/sohaib-haddad/' target='_blank') my linkedin
    
