nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  a.navbar-brand(href="/"): img(src='/img/logo-white.png' class='logo')
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon

  .collapse.navbar-collapse#navbarNav
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href="/") All Tours
      - if(user){
        li.nav-item
          a.nav-link(href="/my-tours") My Tours
      - }
      
    ul.navbar-nav.mr-4
      - if(!user){
        li.nav-item
          a.nav-link(href="/signup") Sign Up
        li.nav-item
          a.nav-link(href="/signin") Sign In
      - } else {
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle#navbarDropdown(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") My account
          .dropdown-menu(aria-labelledby="navbarDropdown")
            a.dropdown-item(href="/me") Account Settings
            a.dropdown-item#signout(href="#") Logout
      - }
        
      