extends ../layouts/base.pug
include _tourCard.pug

block append header
  link(rel='stylesheet' href='/css/root.css')

block mainpage
  .root
    .container
      .row
        each tour in tours
          +tourCard(tour)


append scripts
  script(src='js/root.js')
       
  