:root {
  --primary: #0275d8;
}

.overview .card {
  padding: 0;
}

.overview .image {
  position: relative;
}

.overview .layer {
  height: 100%;
  width: 100%;
  background-color: rgba(168, 238, 4, 0.4);
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview .tour-detail {
  color: var(--primary);
}

.overview .card i {
  color: var(--primary);
}