.reset-password{
  background: url('../img/bg_signin.jpg');
  background-size: cover;
  height: 100vh;
  position: relative;
}

.reset-password .card {
  width: 20rem;
  position: absolute;
  right: 40px;
  top: 20px;
}

@media only screen and (max-width: 400px){
  .reset-password .card {
    width: 100%;
    position: relative;
    top: 20px;
    right: 0;
  }
}

.reset-password .invalid {
  border: 3px solid red;
}

