.signin {
  background: url('../img/bg_signin.jpg');
  background-size: cover;
  height: 100vh;
  position: relative;
}

.signin .card {
  width: 20rem;
  position: absolute;
  right: 40px;
  top: 20px;
}

@media only screen and (max-width: 400px){
  .signin .card {
    width: 100%;
    position: relative;
    top: 20px;
    right: 0;
  }
}

.signin .alert {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 2;
}
