extends ../layouts/base.pug

block append header
  script(src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet')
  link(rel='stylesheet' href='/css/tourDetails.css')

block mainpage
  .tour-details( data-slug= slug )
    .d-flex.justify-content-center.carousel-container
      .loader.tour
        div
        div
        div
    
    .container-fluid
      .row
        .col-12.col-md-6.d-flex.align-items-center.flex-column.my-3
          h3.tour-information-title.mt-3 Tour Information
          .loader.tour
            div
            div
            div
      
        .col-12.col-md-6.d-flex.align-items-center.flex-column.my-3
          h3.mt-3.tour-description-title Tour Description
          .loader.tour
            div
            div
            div
    
    #map
      .loader.d-flex.mx-auto.tour
        div
        div
        div
    .container-fluid
      h3.my-3.text-center.reviews-title Reviews
      .row.tour-reviews.d-flex.justify-content-center
        .loader.tour.mx-auto
          div
          div
          div
      .booking.text-center
        button.btn.btn-primary#book-tour.my-3 Book Tour Now


                
        


append scripts
  script(src='/js/tourDetails.js')
       
