extends ../layouts/base.pug

block append header
  link(rel='stylesheet' href='/css/signup.css')

block mainpage
  .signup
    .container
      .card
        .card-header.text-center.font-weight-bolder Sign up now and let explore

        .card-body
          form
            .form-group
              label(for="username") User name
              input.form-control#username(type="text" required)
            .form-group
              label(for="email") Email
              input.form-control#email(type="email" required)
            .form-group
              label(for="password") Password
              input.form-control#password(type="password" required minlength="8")
            .form-group
              label(for="password-confirmation") Confirm password
              input.form-control#password-confirmation(type="password" required)
            
            .d-flex.justify-content-center
              button.btn.btn-primary(type="submit") Submit

append scripts
  script(src='js/signup.js')
       
  
