extends ../layouts/base.pug

block append header
  link(rel='stylesheet' href='/css/signin.css')

block mainpage
  .signin
    .container
      .card
        .card-header.text-center.font-weight-bolder Sign in now and let explore

        .card-body
          form
            .form-group
              label(for="email") Email
              input.form-control#email(type="email" required)
            .form-group
              label(for="password") Password
              input.form-control#password(type="password" required minlength="8")
              a.form-text.ml-2(href="/forgot-password") forgot password
            .d-flex.justify-content-around
              button.btn.btn-success(type="submit") Sign In
              a(href="/signup"): button.btn.btn-primary(type="button")  Sign Up

append scripts
  script(src='js/signin.js')
       
  