extends ../layouts/base.pug

block append header
  link(rel='stylesheet' href='/css/me.css')

block mainpage
  .me
    .container-fluid
      .loader.mr-auto.ml-auto
        div
        div
        div
        


append scripts
  script(src='/js/me.js')
       
